@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
.app-spl {
  margin-left: 5px;
}

.app-spr {
  margin-riht: 5px;
}

.app-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #579fdf;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.panel-heading {
  font-weight: bold;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

body h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #579fdf;
  border-bottom: 2px solid #579fdf;
}

body #app-breadcrumb {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: #23394D;
}

body #app-breadcrumb h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

body #app-breadcrumb .breadcrumb {
  padding-left: 0;
  background-color: #23394D;
}

body #app-breadcrumb .breadcrumb li {
  color: #ffffff !important;
}

body #app-breadcrumb .breadcrumb li a {
  color: #ffffff !important;
}

body #app-breadcrumb .breadcrumb li:first-child a {
  padding: 5px;
  background-color: #ffffff;
  color: #579fdf !important;
  border-radius: 5px;
}

body #app-footer {
  background-color: #212121;
}
/*# sourceMappingURL=styles.css.map */