{% extends 'epis_web/base.html'%} {% load static %} {% block title %} Concurso de proyectos histórico {% endblock %} {% block content %}
<section>
    <section id="app-breadcrumb">
        <div class="container">
            <h1>Concurso de proyectos histórico</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home app-spr"></i>Inicio</a>
                </li>
                <li>
                    <a href="{% url 'investigacion' %}">Investigación</a>
                </li>
                <li class="active">
                    <span>Concurso de proyectos histórico</span>
                </li>
            </ol>
        </div>
    </section>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#app-concurso-2013I" aria-controls="app-concurso-2013I" role="tab" data-toggle="tab">
                                2013 - I</a>
                        </li>
                        <li role="presentation">
                                <a href="#app-concurso-2012I" aria-controls="app-concurso-2012I" role="tab" data-toggle="tab">
                                    2012 - I</a>
                            </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="app-concurso-2013I">

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h1>Concurso de proyectos 2018-I</h1>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="well well-sm">
                                        <img src="http://via.placeholder.com/1200x380" alt="image" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span>Presentación</span>
                                        </div>
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, repellendus aliquam consectetur quas excepturi dolor
                                            assumenda quae iusto odit ea ipsa ducimus? Neque ratione nemo rem, sequi qui
                                            voluptas fugiat!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span>Bases del concurso</span>
                                        </div>
                                        <div class="list-group">
                                            <a href="" target="_blank" class="list-group-item">
                                                <i class="fa fa-file-word-o app-icon"></i>
                                                <span>BASES PARA CONCURSO DE PROYECTOS 2016 - II</span>
                                            </a>
                                            <a href="" target="_blank" class="list-group-item">
                                                <i class="fa fa-file-word-o app-icon"></i>
                                                <span>BASES PARA CONCURSO DE PROYECTOS 2016 - II</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span>Proyectos</span>
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div>
                                                    <h1>Categoría I</h1>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At vitae voluptatibus
                                                        aspernatur dolore provident nihil, fugiat facilis reprehenderit cupiditate
                                                        et minus perferendis nulla! Voluptates aspernatur mollitia, fugiat
                                                        obcaecati harum corrupti.</p>
                                                    <div class="panel-group">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <a data-toggle="collapse" href="#proyect-01">Discotienda virtual</a>
                                                            </div>
                                                            <div id="proyect-01" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <div class="well well-sm">
                                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ratione nostrum tenetur odio inventore voluptates quibusdam
                                                                        dolorem facere autem. Alias provident voluptas totam
                                                                        blanditiis molestias, laboriosam cum. Omnis, officiis
                                                                        quos.
                                                                    </div>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            Información del proyecto
                                                                        </div>
                                                                        <table class="table table-condensed table-hover table-bordered">
                                                                            <tr>
                                                                                <th>Ciclo:</th>
                                                                                <td>V Ciclo</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Curso:</th>
                                                                                <td>Programación III</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Asesoor:</th>
                                                                                <td>Enrique Lanchipa</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>

                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            Integrantes
                                                                        </div>
                                                                        <table class="table table-condensed table-hover table-bordered">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>William Condori Quispe</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Jose Colque Huere</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            Imágenes
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="row">
                                                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                                                    <div class="well well-sm">
                                                                                        <div>
                                                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                                                    <div class="well well-sm">
                                                                                        <div>
                                                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                                                    <div class="well well-sm">
                                                                                        <div>
                                                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div>
                                                    <h1>Categoría II</h1>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At vitae voluptatibus
                                                        aspernatur dolore provident nihil, fugiat facilis reprehenderit cupiditate
                                                        et minus perferendis nulla! Voluptates aspernatur mollitia, fugiat
                                                        obcaecati harum corrupti.</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div>
                                                    <h1>Categoría II</h1>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At vitae voluptatibus
                                                        aspernatur dolore provident nihil, fugiat facilis reprehenderit cupiditate
                                                        et minus perferendis nulla! Voluptates aspernatur mollitia, fugiat
                                                        obcaecati harum corrupti.</p>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span>Resultados</span>
                                        </div>
                                        <table class="table table-condensed table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Categoría</th>
                                                    <th>Puesto</th>
                                                    <th>Nombre del proyecto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Categoría</td>
                                                    <td>Puesto</td>
                                                    <td>Nombre del proyecto</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span>Galería de fotos</span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="well well-sm">
                                                        <div>
                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="well well-sm">
                                                        <div>
                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="well well-sm">
                                                        <div>
                                                            <img src="http://via.placeholder.com/300x200" alt="image" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="app-concurso-2012I">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}