{% extends 'epis_web/base.html'%} {% load static %} {% block title %} Investigación {% endblock %} {% block content %}
<section>
    <section id="app-breadcrumb">
        <div class="container">
            <h1>Investigación</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home app-spr"></i>Inicio</a>
                </li>
                <li class="active">
                    <span>Investigación</span>
                </li>
            </ol>
        </div>
    </section>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="list-group">
                    <a href="http://repositorio.upt.edu.pe/handle/UPT/22" target="_blank" class="list-group-item">Repositorio digital</a>
                    <a href="{% url 'plan_estudio' %}" class="list-group-item">Plan de estudios</a>
                    <a href="{% url 'malla_curricular' %}" class="list-group-item">Malla curricular</a>
                    <a href="{% url 'concurso_proyecto' %}" class="list-group-item">Concurso de proyectos</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}