{% extends 'epis_web/base.html'%} {% load static %} {% block title %} Plan de estudios {% endblock %} {% block content %}
<section>
    <section id="app-breadcrumb">
        <div class="container">
            <h1>Plan de estudios</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home app-spr"></i>Inicio</a>
                </li>
                <li>
                    <a href="{% url 'investigacion' %}">Investigación</a>
                </li>
                <li class="active">
                    <span>Plan de estudios</span>
                </li>
            </ol>
        </div>
    </section>
</section>
<section>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{ plan_estudio.nombre }}</h1>
                <p>{{ plan_estudio.resena }}</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for ciclo in ciclos %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{{ ciclo.nombre }}</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">Código</th>
                                    <th>Curso</th>
                                    <th>H.T.</th>
                                    <th>H.P.</th>
                                    <th>T.H.</th>
                                    <th>Créditos</th>
                                    <th class="col-xs-2">Pre-requisitos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for curso in cursos_obligatorios %} 
                                {% if curso.ciclo.id == ciclo.id %}
                                <tr>
                                    <td>
                                        <span class="label label-success">{{ curso.codigo }}</span>
                                    </td>
                                    <td>{{ curso.nombre }}</td>
                                    <td>{{ curso.hora_teorica }}</td>
                                    <td>{{ curso.hora_practica }}</td>
                                    <td>{{ curso.hora_total }}</td>
                                    <td>{{ curso.credito }}</td>
                                    <td>
                                        {% for requisito in curso.requisitos %}
                                            <span class="label label-info">{{ requisito.nombre }}</span><br>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %} 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Cursos electivos</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">Código</th>
                                    <th>Curso</th>
                                    <th>H.T.</th>
                                    <th>H.P.</th>
                                    <th>T.H.</th>
                                    <th>Créditos</th>
                                    <th class="col-xs-2">Pre-requisitos</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for curso in cursos_electivos %} 
                                    <tr>
                                        <td>
                                            <span class="label label-success">{{ curso.codigo }}</span>
                                        </td>
                                        <td>{{ curso.nombre }}</td>
                                        <td>{{ curso.hora_teorica }}</td>
                                        <td>{{ curso.hora_practica }}</td>
                                        <td>{{ curso.hora_total }}</td>
                                        <td>{{ curso.credito }}</td>
                                        <td>
                                            {% for requisito in curso.requisitos %}
                                                <span class="label label-info">{{ requisito.nombre }}</span><br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Créditos</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Tipo de crédito</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Créditos obligatorios</td>
                                    <td>{{ plan_estudio.credito_obligatorio }}</td>
                                </tr>
                                <tr>
                                    <td>Créditos electivos</td>
                                    <td>{{ plan_estudio.credito_electivo }}</td>
                                </tr>
                                <tr>
                                    <td>Créditos (Prácticas pre-profesionales)</td>
                                    <td>{{ plan_estudio.credito_practica }}</td>
                                </tr>
                                <tr>
                                    <td>Extracurriculares</td>
                                    <td>{{ plan_estudio.credito_extracurricular }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Total</b>
                                    </td>
                                    <td>
                                        <b>{{  plan_estudio.credito_total }}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Abreviaturas</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <td>H.T.</td>
                                    <td>Horas teóricas</td>
                                </tr>
                                <tr>
                                    <td>H.P.</td>
                                    <td>Horas prácticas</td>
                                </tr>
                                <tr>
                                    <td>T.H.</td>
                                    <td>Total de horas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well well-sm">
                    <a href="{% url 'plan_estudio_historico' %}">Plan de estudios [Histórico]</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}